<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Epithetr</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  </head>



  <body>
    <div class="container">
      <header class='navbar'>
        <section class='navbar-section m-1 p-1'>
          <h1 style='margin-bottom: 0;'>Epithetr
            <%= if assigns[:wholesome] != nil do %>
              <small class="label"><%= if assigns[:wholesome] == "false" do "UN" end %>WHOLESOME</small>
            <% end %>
          </h1>
        </section>

        <section class='centered'></section>

        <%= if assigns[:wholesome] != nil do %>
          <section class='navbar-section my-2 p-2'>
            <%= if assigns[:wholesome] != "false" do %>
              <%= link "UNWHOLESOME", to: page_path(@conn, :index, wholesome: false), class: "float-right" %>
            <% else %>
              <%= link "WHOLESOME", to: page_path(@conn, :index, wholesome: true) %>
            <% end %>
          </section>
        <% end %>
      </header>

      <div class="divider"></div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
