<div class='container'>
  <div class="columns">
    <div class="column col-6 col-xs-12">
      <%= render "descriptors_list.html", Map.put(assigns, :conn, @conn)  %>
    </div>
    <div class="column col-6 col-xs-12">
      <%= render "noun_list.html", Map.put(assigns, :conn, @conn)  %>
    </div>
  </div>
</div>