<h2>Show Descriptor</h2>

<ul>

  <li>
    <strong>Word:</strong>
    <%= @descriptor.word %>
  </li>
  <li>
    <strong>Wholesome:</strong>
    <%= @descriptor.wholesome %>
  </li>

</ul>

<span><%= link "Edit", to: descriptor_path(@conn, :edit, @descriptor) %></span>
<span><%= link "Back", to: page_path(@conn, :index) %></span>
