<h2>Show Noun</h2>

<ul>

  <li>
    <strong>Word:</strong>
    <%= @noun.word %>
  </li>
  <li>
    <strong>Wholesome:</strong>
    <%= @noun.wholesome %>
  </li>

</ul>

<span><%= link "Edit", to: noun_path(@conn, :edit, @noun) %></span>
<span><%= link "Back", to: page_path(@conn, :index) %></span>
