<h2>Show Descriptor</h2>

<ul>

  <li>
    <strong>Word:</strong>
    <%= @adjective.word %>
  </li>
  <li>
    <strong>Wholesome:</strong>
    <%= @adjective.wholesome %>
  </li>

</ul>

<span><%= link "Edit", to: adjective_path(@conn, :edit, @adjective) %></span>
<span><%= link "Back", to: adjective_path(@conn, :index) %></span>
